/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v18-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter-v18-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-v18-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* martian-mono-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Martian Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/martian-mono-v3-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* martian-mono-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Martian Mono";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/martian-mono-v3-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* martian-mono-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Martian Mono";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/martian-mono-v3-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* martian-mono-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Martian Mono";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/martian-mono-v3-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  width: 380px;
  height: 64px;
  border: 2px solid #062630;
  border-radius: 8px;
}

/* HEADER */

.header {
  background-image: url(../images/background-image.png);
  background-color: #0a0d1603;
}

.header-img {
  width: 192px;
  height: 36px;
  margin-top: 32px;
  margin-bottom: 80px;
}
.hero {
  display: flex;

  img {
    width: 536px;
    height: 606px;
    border-radius: 8px;
    margin-left: 64px;
    margin-bottom: 66px;
  }
}
.hero-sct {
  margin-right: 64px;
  margin-top: 80px;
  h1 {
    font-family: "Martian Mono";
    width: 570px;
    height: 222px;
    font-size: 62px;
    font-weight: 700;
    line-height: 74.4px;
    /* color:; */
  }

  p {
    font-family: "Inter";
    width: 570px;
    height: 84px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #385159;
    margin-top: 24px;
  }
}
.hero-btn {
  margin-top: 32px;
  border: 2px solid #062630;
  border-radius: 8px;
  width: 380px;
  height: 64px;
  background-color: #fff5ef;
  background-image: url(../images/icon-arrow-down.svg);
  background-repeat: no-repeat;
  background-position: center right 15px;

  a {
    width: 292px;
    height: 23px;
    padding-right: 24px;
    font-family: Martian Mono;
    font-size: 18px;
    font-weight: 600;
    line-height: 23.4px;
    text-decoration: none;
    color: #062630;
  }
}

.hero-btn:hover {
  opacity: 60%;
  cursor: pointer;
}

.hero-end-image {
  width: 110px;
  height: 40px;
}

/* MAIN */

.read {
  display: flex;
  gap: 80px;
}

.read-image {
  width: 560px;
  height: 520px;
  margin-top: 120px;
  border-radius: 8px;
}
.read-togerher {
  margin-top: 164px;

  h2 {
    width: 530px;
    height: 130px;
    font-family: Martian Mono;
    font-size: 50px;
    font-weight: 600;
    line-height: 65px;
    color: #062630;
  }
}

.monthly {
  display: flex;
  align-items: center;
  gap: 14px;

  p {
    width: 389px;
    height: 56px;
    padding-top: 24px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
  }

  img {
    width: 28px;
    height: 28px;
    padding-top: 24px;
  }
}

.early {
  display: flex;
  align-items: center;
  gap: 14px;
}

.early-text {
  width: 389px;
  height: 56px;
  padding-top: 24px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

/* club */

.club {
  display: flex;
  align-items: center;
}

.club-image {
  width: 560px;
  height: 520px;
  margin-top: 120px;
  margin-left: 76px;
  border-radius: 8px;
}

.club-book {
  margin-top: 247px;

  h2 {
    /* width: 534px; */
    height: 130px;
    font-family: Martian Mono;
    font-size: 50px;
    font-weight: 600;
    line-height: 65px;
    color: #062630;
    background-image: url(../images/pattern-circle.png);
    background-repeat: no-repeat;
    background-position: bottom right 60%;
  }

  p {
    width: 530px;
    height: 112px;
    padding-top: 24px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #385159;

    span {
      font-family: Inter;
      font-size: 20px;
      font-weight: 600;
      line-height: 28px;
      color: #385159;
    }
  }
}

.logos-techs {
  position: relative;
  left: 100%;
  bottom: 30px;
}

.your {
  /* margin-right: 270px; */
  width: 1170px;
  height: 454px;
  margin-top: 120px;
  background-image: url(../images/background-image.png);
  background-color: #faf5f3;
  border-radius: 8px;
  h2 {
    /* width: 512px; */
    /* height: 120px;  */
    padding-top: 80px;
    text-align: center;
    font-family: Martian Mono;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
  }
}

.numbers {
  width: 1050px;
  height: 110px;
  padding-left: 60px;
  display: flex;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 80px;
  gap: 34px;
}

.df-number {
  display: flex;
  gap: 120px;
}

.choose {
  h3 {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 2px solid #062630;
    font-family: Martian Mono;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
  }

  p {
    width: 226px;
    height: 46px;
    margin-top: 20px;
    font-family: Martian Mono;
    font-size: 18px;
    font-weight: 600;
    line-height: 23.4px;
  }
}

.membership {
  width: 970px;
  height: 519px;
  margin-top: 120px;

  h2 {
    width: 970px;
    height: 65px;
    align-items: center;
    text-align: center;
    font-family: Martian Mono;
    font-size: 50px;
    font-weight: 600;
    line-height: 65px;
  }
}
.membership-gr {
  /* margin-top: 64px; */
  display: flex;
}
.starter {
  width: 286px;
  height: 358px;
  margin-top: 80px;
  border: 1px solid #e6e1df;
  border-radius: 8px;
  margin-right: 24px;
}
.book__online {
  display: flex;
  width: 161px;
  height: 28px;
  padding-top: 24px;

  img {
    width: 24px;
    height: 24px;
    /* margin-right: 12px; */
  }

  span {
    /* width: 125px;
    height: 28px;  */
    /* padding-left: 5px; */
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #385159;
  }
}

.in-starter {
  padding: 24px;

  h4 {
    width: 112px;
    height: 26px;
    font-family: Martian Mono;
    font-size: 24px;
    font-weight: 600;
    line-height: 26.4px;
    color: #062630;
  }

  p {
    width: 65px;
    height: 65px;
    padding-top: 24px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #385159;

    span {
      width: 70px;
      height: 44px;
      font-family: Martian Mono;
      font-size: 34px;
      font-weight: 600;
      line-height: 44.2px;
      color: #062630;
    }
  }

  hr {
    width: 238px;
    height: 1px;
    color: #e6e1df;
  }
}
.starter-btn {
  width: 228px;
  height: 63px;
  margin-left: 24px;
  border: 2px solid #062630;
  border-radius: 8px;
  background-color: #fff5ef;

  a {
    width: 152px;
    height: 23px;
    font-family: Martian Mono;
    font-size: 18px;
    font-weight: 600;
    line-height: 23.4px;
    color: #062630;
    text-decoration: none;
  }
}

.book__online3 {
  display: flex;
  margin-top: 24px;

  img {
    width: 24px;
    height: 24px;
    padding-right: 12px;
  }

  span {
    /* width: 148px;
    height: 28px; */
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #062630;
  }
}

.starter-btn:hover {
  opacity: 60%;
  cursor: pointer;
}
.pro {
  width: 350px;
  height: 390px;
  margin-top: 64px;
  border: 1px solid #e6e1df;
  border-radius: 8px;
  margin-right: 24px;
  /* background-color: #e6e1df; */
  background: var(--colors-neutral-50, #faf5f3);

  h4 {
    width: 49px;
    height: 26px;
    font-family: Martian Mono;
    font-size: 24px;
    font-weight: 600;
    line-height: 26.4px;
    color: #062630;
  }
}

.in-starter1 {
  padding-top: 40px;
  padding-left: 24px;
  padding-right: 24px;

  p {
    width: 65px;
    height: 65px;
    padding-top: 24px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #385159;

    span {
      width: 70px;
      height: 44px;
      font-family: Martian Mono;
      font-size: 34px;
      font-weight: 600;
      line-height: 44.2px;
      color: #062630;
    }
  }
}

.book__online2 {
  width: 302px;
  height: 72px;
  display: flex;
  width: 161px;
  height: 28px;
  padding-top: 24px;

  img {
    width: 24px;
    height: 24px;
  }

  span {
    width: 139px;
    height: 28px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #385159;
  }
}
.pro__btn {
  width: 302px;
  height: 63px;
  margin-top: 32px;
  margin-left: 24px;
  border: 2px solid #062630;
  border-radius: 8px;
  background-color: #fff5ef;

  &:hover {
    opacity: 60%;
    cursor: pointer;
  }

  a {
    width: 152px;
    height: 23px;
    font-family: Martian Mono;
    font-size: 18px;
    font-weight: 600;
    line-height: 23.4px;
    color: #062630;
    text-decoration: none;
  }
}
.enterprise {
  width: 286px;
  height: 358px;
  margin-top: 80px;
  border: 1px solid #e6e1df;
  border-radius: 8px;
  margin-right: 24px;

  h4 {
    width: 160px;
    height: 26px;
    padding-bottom: 24px;
    font-family: Martian Mono;
    font-size: 24px;
    font-weight: 600;
    line-height: 26.4px;
    color: #062630;
  }

  hr {
    width: 238px;
    height: 1px;
  }
}

.custom {
  width: 138px;
  height: 44px;
  padding-bottom: 20px;
  font-family: Martian Mono;
  font-size: 34px;
  font-weight: 600;
  line-height: 44.2px;
  color: #062630;
}

.book__online2 {
  width: 161px;
  height: 28px;
  display: flex;
  padding-top: 24px;

  img {
    width: 24px;
    height: 24px;
  }

  span {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #385159;
  }
}

.star {
  width: 970px;
  height: 296px;
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;

  img {
    width: 164px;
    height: 28px;
    /* margin-left: 403px; */
  }

  p {
    width: 970px;
    height: 176px;
    margin-top: 32px;
    font-family: Martian Mono;
    font-size: 34px;
    font-weight: 600;
    line-height: 44.2px;
    color: #062630;
  }

  span {
    width: 970px;
    height: 28px;
    padding-top: 32px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #385159;
  }
}

/* FOOTER */

.footer {
  margin-top: 120px;
  background-image: url(../images/pattern-light-bg.svg);
  /* background-repeat: no-repeat; */
  background-color: #062630;
}

.ready {
  width: 753px;
  height: 307px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-top: 80px;

  h2 {
    width: 685px;
    height: 130px;
    font-family: Martian Mono;
    font-size: 50px;
    font-weight: 600;
    line-height: 65px;
    color: #faf5f3;
  }
}

.footer-btn {
  width: 380px;
  height: 64px;
  margin-top: 40px;
  border: 2px solid #ffffff;
  background-color: #062630;
  background-image: url(../images/icon-arrow-up.svg);
  background-repeat: no-repeat;
  background-position: center right 15px;

  a {
    width: 292px;
    height: 23px;
    padding-right: 24px;
    font-family: Martian Mono;
    font-size: 18px;
    font-weight: 600;
    line-height: 23.4px;
    text-decoration: none;
    color: #ffffff;
  }

  &:hover{
    opacity: 60%;
    cursor: pointer;
  }
}
